<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ChatDetailActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity android:name=".ChildModeActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".BluetoothActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".CommunityActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".FraudDetailActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".PhotoDetailActivity" android:exported="true" tools:replace="android:exported" />
    </application>
</manifest>
